* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background: #9d3f2a;
  background: linear-gradient(135deg, #9d3f2a, #b6a49f);
}
.wrapper {
  /* padding: 2rem; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  /* margin-top: 1rem; */
}

.product-page {
  width: 40%;
  height: 550px;
  background-color: rgb(183 172 172);
  /* border: 2px solid rgb(173, 173, 173); */
  padding: 0rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  margin-top: 2rem;
  color: #000000c9;
}

.product-page h2,
.cart-page h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #202f59d6;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214 166 166);
  border: 2px solid rgb(226 84 84 / 30%);
  box-shadow: rgb(159 14 14 / 67%) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.product-list .btn {
  border: 2px solid rgb(150 42 16 / 58%);
  padding: 8px 16px;
  border-radius: 20px;
}
.product-list .btn span {
  display: inline-block;
  margin: 0px 4px;
  padding: 0px 2px;
  vertical-align: middle;
}

.minus,
.plus {
  cursor: pointer;
  box-shadow: rgba(132, 29, 29, 0.55) 0px -23px 25px 0px inset,
    rgb(214 18 18 / 26%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgb(207 27 27 / 9%) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgb(181 18 18 / 4%) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #f5f5f5ad;
  border-radius: 10px;
}

.minus:hover,
.plus:hover {
  transition: transform 0.3s ease-in;
  transform: scale(1.2);
}
.cart-page {
  width: 30%;
  height: 550px;
  background-color: rgb(183 172 172);
  /* border: 2px solid rgb(173, 173, 173); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  margin-top: 2rem;
  color: #000000c9;
}
.cart-container {
  padding: 0px 2.5rem;
}
.cart-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: rgb(214 166 166);
  border: 2px solid rgb(226 84 84 / 30%);
  box-shadow: rgb(159 14 14 / 67%) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.quantity {
  position: relative;
}
.quantity span {
  margin-right: 0.5rem;
}
.icon {
  position: absolute;
  left: 150%;
  top: 0;
}
.cart-page {
  position: relative;
}
.total {
  position: absolute;
  padding: 1rem;
  background-color: rgb(156 89 89 / 84%);
  /* border: 2px solid rgb(173, 173, 173); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  bottom: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 85%;
  left: 8%;
  color: #ffffffd9;
}
/*  */

@media screen and (max-width: 1200px) {
  .product-page {
    width: 50%;
  }
  .cart-page {
    width: 35%;
  }
}
@media screen and (max-width: 950px) {
  .wrapper {
    width: 100%;
  }
  .product-page {
    width: 58%;
  }
  .cart-page {
    width: 38%;
  }
  .cart-container {
    padding: 0px 1rem;
  }
}

.btn .counter {
  font-size: 23px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
